html{
    font-family: 'Roboto Mono', monospace;
}

header{
    color: #eb0248;
    padding: 15px;
    text-align: left;
    font-style: italic;
    font-size: 100%;
    display: grid;
    grid-template-columns: 9fr 1fr;
}

#change_theme img{
    max-width: 70%;
    max-height: 70;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.hero img{
    width: 40%;
    height: 40%;
    object-fit: cover;
    margin: 11% 0 0 70%;
}

.disclaimer{
    background-color: #f26d96;
    background-size: cover;
    background-position: center;
    font-size: 130%;
    color: #fff;
    padding: 2%;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 3%;
    align-items: center;
}

.password_input{
    height: 80px;
    width: 600px;
    font-size: 20px;
}

.btn{
    background-color: #eb0248;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#advices{
    display: flex;
    flex-direction: column;
    margin: 3%;
    align-items: center;
}

.green-box{
    color: green;
}

.red-box{
    color: red;
}

@media(max-width:600px){
    header{
        font-size: 60%;
    }

    header button{
        width: 90%;
        height: 50%;
        margin-top: 35%;
    }
    
    .hero{
        display: flex;
        flex-direction: column;
    }

    .hero img{
        width: 30%;
        height: 30%;
        margin: 0 0 0 35%;
    }

    .disclaimer{
        font-size: 100%;
    }

    .type_password{
        width: 100%;
    }

    .btn{
        margin: 4% 0 0 35%;   
    }

    #advices h2{
        font-size: 100%;
    }
}

@media(min-width: 768px){
    header button{
        width: 40%;
        height: 40%;
        margin: 40% 0 0 50%;
    }

    button img{
        width: 200%;
        height: 100%;
    }

    .hero img{
        width: 40%;
        height: 40%;
        margin: 40% 0 0 60%;
    }

    .btn{
        margin: 3% 0 0 43%;
    }

    #advices h2{
        font-size: 110%;
    }
}

@media(min-width: 1200px){
    header button{
        width: 30%;
        height: 45%;
        margin: 15% 0 0 50%;
    }

    .disclaimer{
        font-size: 120%;
    }

    .hero{
        width: 100%;
        height: 100%;
    }
    .hero img{
        width: auto;
        height: auto;
        margin: 5% 0 0 55%;
    }

    .type_password{
        margin-left: 0%;
    }

    .btn{
        margin-left: 0%;
    }

    #advices h2{
        font-size: 130%;
    }
}